/* All */
*{
  box-sizing: border-box;
}

/* Navbar */
.navbar{
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading{
  position: relative;
  margin-left: 10vw;
  display: inline-block;
  h1{
    position: absolute;
    font-size: 50px;
    top: -15px;
    margin: 0;
  }
  h2{
    position: absolute;
    left: 40px;
    margin: 10px -5px;
    &:nth-child(2){
      margin: -12px -5px;
    }
  }
}

.navbar-links{
  margin: 4vw 10vw 0;
  display: flex;
  font-weight: 900;
}

.navbar-links-link{
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
}

/* parts of pages */
.hero-section, .contributions, .about{
  height: 100vh;
  width: 90vw;
  margin: auto;
  padding: 15vh 0;
}

/* Hero Section */
.home-buttons{
  display: flex;
  justify-content: flex-end;
  /* padding-top: 10vh; */
}

.home-buttons-button{
  margin: 0 20px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 900;
  padding: 10px 15px;
}

.home-buttons-button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.home-buttons-button:focus{
  outline: none;
}

.hope{
  position: relative;
}

.hope-img{
  display: block;
  height: 40vh;
  width: auto;
  z-index: -2;
  margin: 10vh auto;
}

.hope-o{
  position: absolute;
  top: 0;
  display: block;
  z-index: -1;
  margin-left: 35%;
  height: 80vh;
}

.dot-left,.dot-right{
    position: absolute;
    width: 10rem;
    z-index: -2;
    opacity: .3;
    &-content{
      position: absolute;
      background: rgba(200,200,200,0.2);
      backdrop-filter: blur(3px);
      padding:1rem 2rem;
      max-width: 15rem;
    }
}

.dot-left-content{
  top:5rem;
  left:2rem;
  z-index: -1;
}
.dot-right {
  right:0;
  top:8rem;
  &-content{
    padding: 0;
    z-index: -1;
    right: 2rem;
    top: -2rem;
  }
}

/* Contributions */
.contributions{
  text-align: center;
  z-index: 1;
  display: block;
  background-color: white;
  h2{
    font-weight: 800;
    font-size: 30px;
  }
  .cards{
    display: flex;
    margin-top: 10vh;
    justify-content: space-around;
    width: 100%;
  }
}

//Donate
.donate{
  padding: 15vh;
  h4{
    color: #777;
  }
  h2{
    margin: 1rem;
  }
  &-card{
    width: 20rem;
    &-image{
      .image{
        width: 310px;
        height: 180px;
        object-fit: cover;
      }
    }
  }
}

.donate-fund-cards, .donate-stuff-cards, .donate-food-cards{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

// Card
.card{
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  width: 18rem;
  height: 25rem;
  .image{
    width: 70%;
    max-height: 40%;
  }
  &-body{
    width: 90%;
    color: #777;
    font-weight: 600;
  }
  &-title{
    font-size: 20px;
  }
}

.card:hover{
  cursor: pointer;
  transform: scale(1.05);
}

/* About */
.about{
  display: flex;
  padding-top: 30vh;
  justify-content: space-between;
}

.about-contributors{
  flex: 2;
  padding-left: 5vw;
}

.about-gap{
  flex: 1;
}

.about-changeMakers{
  flex: 2;
  padding-top: 30vh;
}

.about-contributors>h1, .about-changeMakers>h1{
  color: #3a006f;
  font-size: xx-large;
}

.about-contributors>p, .about-changeMakers>p{
  width: 60%;
  margin: 1rem 0.5rem;
  line-height: 1.5;
  font-weight: 600;
}


//login
.App{
  width: 100vw;
.Aboutcontent
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkslategrey;
  font-style: normal;
  font-weight: lighter;
  margin-top: 25px;
  padding-top: 7em;
}

.about-intro
{
  // flex: 2;
  padding-left: 5vw;
}

.about-intro>h1{
  // margin-top: 2.75em;
  color: #3a006f;
  font-size: xx-large;
}

.about-intro>p{
  margin-top: 1.5em;
  width: 80%;
  line-height: 1.5;
  font-weight: 600;

}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3a006f;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &-link{
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    transform: scale(1.05);
  }
  &:focus {
    outline: none;
  }
}
.about-intro{
  h2{
    margin-top: 1.5em;
  }
}
<<<<<<< HEAD


// ********************Contact form******************************


.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  margin-top: 1em;
}

.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;
}

.contactBlock .ant-form {
  max-width: 640px;
  margin: auto;
  
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
  margin : 1em;
  
}

.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
  color: #3a006f;
}

button {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3a006f;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}

Form.item
{
  width: 27em;
  height: 40em;
  position: relative;
  /* //min-height: 44em; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto 0;
  z-index: 99;
=======
>>>>>>> 51e4b7395bac0d1ac7c6f8f8d1706e870df999aa
}