// @import "~bootstrap/scss/bootstrap";

/* All */
*{
  box-sizing: border-box;
}

/* Navbar */
.navbar{
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading{
  position: relative;
  margin-left: 10vw;
  display: inline-block;
  h1{
    position: absolute;
    font-size: 50px;
    top: -15px;
    margin: 0;
  }
  h2{
    position: absolute;
    left: 40px;
    margin: 10px -5px;
    &:nth-child(2){
      margin: -12px -5px;
    }
  }
}

.navbar-links{
  margin: 4vw 10vw 0;
  display: flex;
  font-weight: 900;
}

.navbar-links-link{
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
}

/* parts of pages */
.hero-section, .contributions, .about{
  height: 100vh;
  width: 90vw;
  margin: auto;
  padding: 15vh 0;
}

/* Hero Section */
.home-buttons{
  display: flex;
  justify-content: flex-end;
  /* padding-top: 10vh; */
}

.home-buttons-button{
  margin: 0 20px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 900;
  padding: 10px 15px;
}

.home-buttons-button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.home-buttons-button:focus{
  outline: none;
}

.hope{
  position: relative;
}

.hope-img{
  display: block;
  height: 40vh;
  width: auto;
  z-index: -1;
  margin: 10vh auto;
}

.hope-o{
  position: absolute;
  top: 0;
  display: block;
  z-index: -1;
  margin-left: 35%;
  height: 80vh;
}

.dot-left,.dot-right{
    position: absolute;
    width: 10rem;
    opacity: .3;
    &-content{
      position: absolute;
      background: rgba(200,200,200,0.2);
      backdrop-filter: blur(3px);
      padding:0rem 2rem;
      max-width: 15rem;
    }
}

.dot-left-content{
  top:6rem;
  left:2rem;
}
.dot-right {
  right:0;
  top:8rem;
  &-content{
    padding:0;
    right:2rem;
    top:0rem;
  }
}

/* Contributions */
.contributions{
  text-align: center;
  z-index: 1;
  display: block;
  background-color: white;
  .cards{
    display: flex;
    margin-top: 10vh;
    justify-content: space-around;
    width: 100%;
  }
}

.card{
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  width: 18rem;
  height: 25rem;
  .image{
    width: 70%;
    max-height: 40%;
  }
}

/* About */
.about{
  display: flex;
  padding-top: 30vh;
  justify-content: space-between;
}

.about-contributors{
  flex: 2;
  padding-left: 5vw;
}

.about-gap{
  flex: 1;
}

.about-changeMakers{
  flex: 2;
  padding-top: 30vh;
}

.about-contributors>h1, .about-changeMakers>h1{
  color: #3a006f;
  font-size: xx-large;
}

.about-contributors>p, .about-changeMakers>p{
  width: 60%;
  line-height: 1.5;
  font-weight: 600;
}


/* ************************************************************************************** */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.Apps {
  text-align: center;
  display: flex;
  margin: auto;
  padding-left: 50% ;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.Apps-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Apps-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Apps-link {
  color: #3a006f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Login Main Container
.login {
  width: 27em;
  height: 40em;
  /* //min-height: 44em; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #3a006f;
    width: 100%;
    position: absolute;
    padding-left: 12em;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      padding-right: 12em;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3a006f;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}

// *******************************************************************************

.Aboutcontent
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkslategrey;
  font-style: normal;
  font-weight: lighter;
}